/* logo at top */
#logo{
  font-family: 'Prata' ;
  font-size: xX-large;
  color: darkgray;
  text-align: center;
  margin-top: 2%;
  text-decoration: underline;
}  
#logo:hover{
  color:#C89B9B ;
}
nav {
  font-family: 'Prata' ;
  margin-top: 25px;
  font-size:200% ;
text-align: center;
  color: darkgray;
  
}
nav a:hover{
  color: #C89B9B;
}
nav a {
  font-family: 'Prata' ;
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: darkgray;
  text-decoration: none;
  border-left: 1px solid #efefef;
  ;
}

/* background coloring */
body{
    background-image: linear-gradient(to bottom right, #ECE8E7,#fffefb);
}

#main-container{
    margin: 5%;
    background-image: linear-gradient(to bottom right,#fffefb, #ECE8E7);
    padding-bottom: 1%;
    padding-top: 1%;
}
iframe{
  margin: 0 auto;
  display:block;
  ;
}
#description{
  font-family: 'Prata';
  text-align: center;
}
#nextbtn{float: right;
margin-top: 1%;
font-family: 'Prata';
color: black ;
background-color:lightgray;
border-radius: 10px;
height: 50px;

}

/* column 1 of portfolio*/
.content{
  height: 200px;
  width: 300px;
  margin: 3px;
}
.content:hover{
opacity: .5;

}
/* column 2 of portfolio  */
.content2{
  height:200px;
  width: 350px;
  /* width: auto; */
}
.content2:hover{
opacity: .5;
}
footer {
    margin-top: 13%;
    clear: both;
    color: BLACK;
    font-family: 'Prata';
    text-align: center;
    background: lightgray;
    border-top: 25px solid 	
    #FAD7D7
   ;
    height: 150px;
    
  }
  footer .container{
      margin-top: 2%;
  }
  footer i{
      color: black;
      margin: 1%;
  }