/* logo at top */
#logo{
    font-family: 'Prata' ;
    font-weight: bold;
    font-size: x-large;
    margin: 2%;
    margin-left: 25%;

}
/* Navbar */
  nav {
    font-family: 'Prata' ;
    float: left;
    margin-top: 25px;
    font-size:150% ;
    font-weight: bold;
  }
  nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: black;
    text-decoration: none;
    border-left: 1px solid #efefef;
  }
  nav a:first-child {
    border-left: 0 none;
  }

/* column 1 of portfolio*/
.content{
    height: 200px;
    width: 420px;
    margin: 3px;
    
}
/* column 2 of portfolio  */
.content2{
    height:200px;
    width: 420px;
    /* width: auto; */
}
/* protfolio area keeps images in the middle and allows them to scale with mobile  */
.portfolio{
    margin-left: 30%;
    margin-right: 20%; 
    margin-top: 5%;
    overflow: auto;
}
/* background coloring */
body{
    background-image: linear-gradient(to bottom right, #ECE8E7,#fffefb);
  ;
}

#main-container{
    margin: 5%;
    height: 500px;
    background-color: whitesmoke;
    font-family: 'Prata' ;
    padding: 2%;
 
}




footer {
    margin-top: 13%;
    clear: both;
    color: BLACK;
    font-family: 'Prata';
    text-align: center;
    background: lightgray;
    border-top: 25px solid 	
    #aaf0d1 ;
    height: 150px;
    
  }
  footer .container{
      margin-top: 2%;
  }
  footer i{
      color: black;
      margin: 1%;
  }