/* logo at top */
#logo{
    font-family: 'Prata' ;
    font-size: xX-large;
    color: #5F5F5F;
    text-align: center;
    margin-top: 2%;
    text-decoration: underline;
}  
#logo:hover{
  color:#EABDBD ;
}
/* Navbar */
  nav {
    font-family: 'Prata' ;
    margin-top: 25px;
    font-size:200% ;
  text-align: center;
    color: #5F5F5F;
    
  }
  nav a:hover{
    color: #EABDBD;
  }
  nav a {
    font-family: 'Prata' ;
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #5F5F5F;
    text-decoration: none;
    border-left: 1px solid #efefef;
    ;
  }
  /* .landingconainter{
    margin-left:5%;
    background-color: black;
    margin-right:5% ;
  } */

/* column 1 of portfolio*/
.content{
    height: 270px;
    width: 470px;
    margin-bottom: 3px;
}
.content:hover{
opacity: .5;

}
/* column 2 of portfolio  */
.content2{
    height:270px;
    width: 470px;
    margin-bottom: 3px;
}
.content2:hover{
  opacity: .5;

}
.content3{
  height: 270px;
  width: 470px;
  margin-bottom:3px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.content3:hover{  
  opacity: .5;
  }
/* protfolio area keeps images in the middle and allows them to scale with mobile  */
.portfolio{
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 1%;}

/* background coloring */
body{
    background-image: linear-gradient(to bottom right, #ECE8E7,#fffefb);
  ;
}

#main-container{
  margin:5%;
    height: 300px;
    background-image: linear-gradient(to bottom right, #fffefb,#ECE8E7);
    font-family: 'Prata' ;
    padding: 2%;
    margin-left: 20%;
 
}
/* ABOUT page */
.about{
  width: 80%;
text-align: center;

}

/* contact page */
.main-section{
  text-align: center;
  width: 80%;
}



footer {
    margin-top: 11%;
    clear: both;
    color: BLACK;
    font-family: 'Prata';
    text-align: center;
    background: lightgray;
    border-top: 25px solid 	
    #FAD7D7 ;
    height: 150px;
    
  }
  footer .container{
      margin-top: 2%;
  }
  footer i{
      color: black;
      margin: 1%;
  }
  i:hover{
    color: #C89B9B;
  }