.content{
    height: 200px;
    width: auto;
    
}
.content2{
    height: 200px;
    width: auto;
}

.portfolio{
    margin-left: 45%;
    margin-right: 35%;
}
body{
    background-image: linear-gradient(to bottom right, #9c9c9c,#ECE8E7);
}