/* logo at top */
#logo{
    font-family: 'Prata' ;
}
/* Navbar */
  nav {
    font-family: 'Prata' ;
    float: left;
    margin-top: 25px;
    
  }
  
  nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;

    color: black;
    text-decoration: none;
    border-left: 1px solid #efefef;
  }
  
  nav a:first-child {
    border-left: 0 none;
  }

/* column 1 of portfolio*/
.content{
    height: 200px;
    width: 420px;
    
}
/* column 2 of portfolio  */
.content2{
    height:200px;
    width: 420px;
    /* width: auto; */
}
/* protfolio area keeps images in the middle and allows them to scale with mobile  */
.portfolio{
    margin-left: 25%;
    margin-right: 25%; 
    margin-top: 5%;
    align-items: center;
    align-content: center;
    clear: both;
}
/* background coloring */
body{
    background-image: linear-gradient(to bottom right, #ECE8E7,#fffefb);
}

.main-container{
    padding: 2%;
    

}



footer {
    margin-top: 13%;
    clear: both;
    color: BLACK;
    font-family: 'Prata';
    text-align: center;
    background: lightgray;
    border-top: 25px solid 	
    #aaf0d1 ;
    height: 150px;
    
  }
  footer .container{
      margin-top: 2%;
  }
  footer i{
      color: black;
      margin: 1%;
  }