/* logo at top */

#logo{
    font-family: 'Prata' ;
    font-size: x-large;
    color: #5F5F5F;
    text-align: center;
    margin-top: 2%;
    text-decoration: underline;
}  
#logo:hover{
  color:#EABDBD;
}
/* Navbar */
  nav {
    font-family: 'Prata' ;
    margin-top: 20px;
    font-size:170% ;
  text-align: center;
    color: #5F5F5F;
    
  }
  nav a:hover{
    color: #EABDBD;
  }
  nav a {
    font-family: 'Prata' ;
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #5F5F5F;
    text-decoration: none;
    border-left: 1px solid #efefef;
    ;
  }

/* column 1 of portfolio*/
.content{
    height: 40%;
    width: 49%;
    margin-bottom: 3px;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
   */
}
.content:hover{
opacity: .5;

}
/* column 2 of portfolio  */
.content2{
    height:40%;
    width: 49%;
    margin-bottom: 3px;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
  
    
}
.content2:hover{
  opacity: .5;

}
.content3{
  height: 40%;
  width: 59%;
  margin-bottom:3px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.content3:hover{  
  opacity: .5;
  }
/* protfolio area keeps images in the middle and allows them to scale with mobile  */
.portfolio{
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto; 

}

/* background coloring */
body{
    background-image: linear-gradient(to bottom right, #ECE8E7,#fffefb);
  ;
}

#mc2{
  margin:5%;
    height: auto;
    background-image: linear-gradient(to bottom right, #fffefb,#ECE8E7);
    font-family: 'Prata' ;
    padding: 2%;
    margin-left: 20%;
    margin-right: 20%;
    align-content: center;
    font-size: small;
 
}
/* ABOUT page */
.about{
text-align: center;

}

/* contact page */
.main-section{
  text-align: center;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.celia-img{
  width: 100%;
  height: auto;
}



footer {
    margin-top: 11%;
    clear: both;
    color: BLACK;
    font-family: 'Prata';
    text-align: center;
    background: lightgray;
    border-top: 25px solid 	
    #FAD7D7 ;
    height: 150px;
    
  }
  footer .fcontainer{
      margin-top: 2%;
  }
  footer i{
      color: black;
      margin: 1%;
  }
  i:hover{
    color: #C89B9B;
  }


  @media only screen and (max-width: 640px) {
    nav{margin-right: 10%;}
    iframe{height: 100%;
   width:90% ;}
   .content{width: 100%;}
   .content2{width: 100%;}
   .content3{width: 100%;}
   .calicontent{height: 100%;
   width: 100%;}
   #mc2{height: 95%;
  width: 100%;
margin: auto;
   }
  .contain{margin: auto;}
.fcontainer{padding-top: 1%;}}
 
   /* 100% Image Width on Smaller Screens */
 @media only screen and (max-width: 700px){
   .modal-content {
     width: 100%;
   }}