/* logo at top */
#logo{
    font-family: 'Prata' ;
    font-weight: bold;
    font-size: xX-large;
    margin: 2%;
    color: darkgray;
    margin-left: 20%;


}
/* Navbar */
  nav {
    font-family: 'Prata' ;
    float: left;
    margin-top: 25px;
    font-size:200% ;
    /* font-weight: bold; */
    color: darkgray;
  }
  nav a {
    font-family: 'Prata' ;
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: darkgray;
    text-decoration: none;
    border-left: 1px solid #efefef;
    ;
  }
  nav a:first-child {
    font-family: 'Prata' ;
    border-left: 0 none;
  }

/* column 1 of portfolio*/
.content{
    height: 300px;
    width: 470px;
    margin: 3px;
    
}
/* column 2 of portfolio  */
.content2{
    height:300px;
    width: 470px;
    /* width: auto; */
}
/* protfolio area keeps images in the middle and allows them to scale with mobile  */
.portfolio{
    margin-left: 25%;
    margin-right: 20%; 
    margin-top: 5%;
    overflow: auto;
    background-color: whitesmoke;
}
.header1{
  margin-left: 37%;
}
/* background coloring */
body{
    background-image: linear-gradient(to bottom right, #ECE8E7,#fffefb);
  ;
}

#main-container{
    margin: 5%;
    height: 340px;
    background-color: whitesmoke;
    font-family: 'Prata' ;
    padding: 2%;
    margin-left: 20%;
    /* margin-right: ; */
 
}
.about{
  width: 700px;
  margin-left: 30%;
}



footer {
    margin-top: 13%;
    clear: both;
    color: BLACK;
    font-family: 'Prata';
    text-align: center;
    background: lightgray;
    border-top: 25px solid 	
    #FAD7D7 ;
    height: 150px;
    
  }
  footer .container{
      margin-top: 2%;
  }
  footer i{
      color: black;
      margin: 1%;
  }